// --------------------------------------------
// カラー
// --------------------------------------------
$colorWhite: #fff;

$colorText: #4E301B;
$colorBackground: #FDF9EF;

$colorHamburgerBackground: #FED966;


// --------------------------------------------
// 幅
// --------------------------------------------
$wrapperMaxWidth: 380px;
$wrapperMaxWidthPc: 877px;



// --------------------------------------------
// 高さ
// --------------------------------------------
$headerHeight: 80px;


// --------------------------------------------
// 文字の太さ
// --------------------------------------------
$fontWeightMain: 700;