@charset "UTF-8";
* {
  font-family: "Noto Sans JP", sans-serif;
  color: #4E301B;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 380px;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 934px;
  }
}

.noScroll {
  overflow: hidden;
}

.is-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .is-pc {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.fv {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/fv.png);
  height: 100vh;
  max-height: 667px;
  padding: 423px 0 0 33px;
}
@media screen and (min-width: 768px) {
  .fv {
    max-height: 854px;
    padding: 112px 146px 0 0;
  }
}
.fv__wrapper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .fv__wrapper {
    writing-mode: vertical-rl;
  }
}
.fv__txt {
  display: inline-block;
  font-weight: 700;
  background-color: #fff;
  padding: 7px;
  margin-bottom: 6px;
  font-size: 24px; /*IE9以前に対応する*/
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .fv__txt {
    max-width: 432px;
    letter-spacing: 0.5em;
    padding: 10px 15px 0;
    margin-top: 0;
    margin-left: 21px;
    font-size: 32px; /*IE9以前に対応する*/
    font-size: 2rem;
  }
}

.header {
  position: relative;
  background-color: #FDF9EF;
}
.header__upper {
  background-color: #FDF9EF;
  position: absolute;
  width: 154px;
  height: 154px;
  border-radius: 50% 50% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .header__upper {
    transform: translate(-35%, -50%);
  }
}
.header__lower {
  z-index: 1;
  position: relative;
}

.gnav {
  padding: 51px 0 45px 0;
}
@media screen and (min-width: 768px) {
  .gnav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.gnav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gnav__list:nth-child(2) {
  margin: 0 39px;
}
.gnav__list--item {
  margin: 0 20px;
  font-weight: 700;
}

#hamburgerBtn {
  position: fixed;
  z-index: 99999;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background: #FED966;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  transition: all 0.6s;
}
#hamburgerBtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #4E301B;
  width: 18px;
}
#hamburgerBtn span:nth-of-type(1) {
  top: calc(50% - 5px);
}
#hamburgerBtn span:nth-of-type(2) {
  top: 50%;
}
#hamburgerBtn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
@media screen and (min-width: 768px) {
  #hamburgerBtn.active {
    right: calc(30% - 0.9px);
    border-radius: 50% 0 0 50%;
  }
}
#hamburgerBtn.active span:nth-of-type(1), #hamburgerBtn.active span:nth-of-type(3) {
  top: 50%;
  right: 50%;
  left: 6px;
}
#hamburgerBtn.active span:nth-of-type(1) {
  transform: translate(50%, -50%) rotate(45deg);
}
#hamburgerBtn.active span:nth-of-type(2) {
  opacity: 0;
}
#hamburgerBtn.active span:nth-of-type(3) {
  transform: translate(50%, -50%) rotate(-45deg);
}

#hamburgerMenu {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 9999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.6s;
  /*アクティブクラスがついたら位置を0に*/
}
@media screen and (min-width: 768px) {
  #hamburgerMenu {
    width: 30%;
  }
}
#hamburgerMenu.active {
  right: 0;
  /*ナビゲーションの縦スクロール*/
}
#hamburgerMenu.active #hamburgerMenuList {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh; /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 768px) {
  #hamburgerMenu.active #hamburgerMenuList {
    width: 30%;
  }
}
#hamburgerMenu ul li {
  list-style: none;
  text-align: center;
  margin-bottom: 18px;
}
#hamburgerMenu ul li a {
  color: #4E301B;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 16px; /*IE9以前に対応する*/
  font-size: 1rem;
}

.hamburgerMenu__contents {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburgerMenu__image {
  margin-bottom: 36px;
}
.hamburgerMenu__image figure:nth-child(1) {
  text-align: center;
}
.hamburgerMenu__image figure:nth-child(1) img {
  width: 55px;
}

#hamburgerCover.active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9997;
  background: rgba(3, 3, 3, 0.5);
  display: block;
}

section:nth-child(2n) {
  background-color: #FDF9EF;
}

.section__ttl {
  font-size: 32px; /*IE9以前に対応する*/
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 90px;
}
.section__img {
  position: relative;
}
.section__img img {
  position: absolute;
  width: 50%;
}

#About {
  background-color: #FDF9EF;
  padding: 35px 0 126px 0;
}
@media screen and (min-width: 768px) {
  #About {
    padding: 101px 0 180px 0;
    position: relative;
  }
}
#About .section__ttl {
  color: #35A1C3;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 9px 10px;
  margin-bottom: 30px;
  font-size: 24px; /*IE9以前に対応する*/
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  #About .section__ttl {
    display: inline-block;
    text-align: start;
    position: relative;
    z-index: 99;
    font-size: 40px; /*IE9以前に対応する*/
    font-size: 2.5rem;
  }
}
#About .about__txt {
  max-width: 526px;
  background: rgba(255, 255, 255, 0.9);
  line-height: 250%;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 14px; /*IE9以前に対応する*/
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  #About .about__txt {
    position: relative;
    z-index: 99;
  }
}
@media screen and (min-width: 768px) {
  #About .about__img--wrapper {
    position: absolute;
    top: 50px;
    right: 80px;
  }
}
#About .about__img {
  text-align: end;
  width: 100%;
}
#About .about__img > img {
  width: 80%;
}
#About .about__img.upper {
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  #About .about__img.upper {
    margin-bottom: 70px;
  }
}
#About .about__img.lower > img {
  width: 50%;
}

#Product {
  padding: 0 0 100px 0;
}

.product__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__list--item {
  background-color: #fff;
  max-width: 264px;
  height: 331px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
}
.product__img > img {
  width: 100%;
}
.product__ttl {
  line-height: 150%;
  padding: 16px 16px 0 16px;
  font-weight: 700;
}
.product__price {
  margin-top: auto;
  padding: 0 0 16px 16px;
}

#News {
  padding: 91px 0;
}
#News .section__img img {
  max-width: 235px;
  right: 0px;
  top: 12px;
}

.news__list {
  margin-top: 90px;
}
.news__list--item {
  padding: 22px 0;
  border-bottom: 1px solid #C6C6C6;
}
.news__list--item:nth-child(1) {
  border-top: 1px solid #C6C6C6;
}
.news__date {
  margin-bottom: 10px;
  display: block;
  color: #403F3F;
  font-size: 12px; /*IE9以前に対応する*/
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .news__date {
    margin-right: 120px;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 13px; /*IE9以前に対応する*/
    font-size: 0.8125rem;
  }
}
.news__ttl {
  display: block;
  font-size: 14px; /*IE9以前に対応する*/
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .news__ttl {
    display: inline-block;
    font-size: 16px; /*IE9以前に対応する*/
    font-size: 1rem;
  }
}

#Faq {
  padding: 91px 0;
}
#Faq .section__img img {
  max-width: 349px;
  left: 0px;
  top: 32px;
}

.faq__list {
  max-width: 740px;
  margin: 0 auto;
}
.faq__list--item {
  margin-bottom: 31px;
}
.faq__list--item:nth-last-child(1) {
  margin-bottom: 0px;
}
.faq__list--item details {
  height: 50px;
  transition: 0.5s;
}
.faq__list--item details[open] {
  height: 180px;
}
.faq__list--item details[open] summary::after {
  transform: rotate(225deg);
  top: 18px;
}
.faq__list--item summary {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background-color: #fff;
  padding: 16px 0 12px 55px;
  margin-bottom: 36px;
  height: 50px;
  font-size: 16px; /*IE9以前に対応する*/
  font-size: 1rem;
  font-weight: 700;
  position: relative;
}
@media screen and (min-width: 768px) {
  .faq__list--item summary {
    font-size: 18px; /*IE9以前に対応する*/
    font-size: 1.125rem;
  }
}
.faq__list--item summary::-webkit-details-marker {
  display: none;
}
.faq__list--item summary::before {
  position: absolute;
  content: "Q";
  top: 12px;
  left: 24px;
  font-size: 24px; /*IE9以前に対応する*/
  font-size: 1.5rem;
}
.faq__list--item summary::after {
  position: absolute;
  content: "";
  border-bottom: 4px solid #C6C6C6;
  border-right: 4px solid #C6C6C6;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  top: 14px;
  right: 24px;
  transition: all 0.5s;
}
.faq__list--item p {
  font-size: 14px; /*IE9以前に対応する*/
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .faq__list--item p {
    font-size: 18px; /*IE9以前に対応する*/
    font-size: 1.125rem;
  }
}

#Access {
  padding: 91px 0 78px;
}
@media screen and (min-width: 768px) {
  #Access .section__contents {
    display: flex;
    justify-content: space-between;
  }
}
#Access .section__img img {
  max-width: 264px;
  right: 0px;
  top: 0px;
}

.accessInfo {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .accessInfo {
    width: 49%;
    margin-bottom: 0px;
  }
}
.accessInfo__row {
  display: flex;
  border-bottom: 1px solid #C6C6C6;
  padding: 21px 0 20px;
  font-weight: 700;
}
.accessInfo__row:nth-of-type(1) {
  border-top: 1px solid #C6C6C6;
}
.accessInfo__row__ttl {
  width: 120px;
}
@media screen and (min-width: 768px) {
  .accessInfo__row__ttl {
    width: 174px;
  }
}

.map {
  width: 100%;
  max-width: 351px;
}
@media screen and (min-width: 768px) {
  .map {
    max-width: 443px;
  }
}

#Contact {
  padding: 104px 0 30px;
}
#Contact .section__ttl {
  margin-bottom: 67px;
}
#Contact .description {
  font-weight: 700;
  text-align: center;
  margin-bottom: 93px;
  font-size: 18px; /*IE9以前に対応する*/
  font-size: 1.125rem;
}
#Contact .end-message, #Contact .false-message {
  display: none;
}
#Contact .end-message {
  text-align: center;
  color: #7cb6ec;
}

form input[type=radio], form textarea[type=radio] {
  border: #4E301B 2px solid;
  accent-color: #4E301B;
  -webkit-appearance: revert;
     -moz-appearance: revert;
          appearance: revert;
  width: 20px;
  height: 20px;
}
form input[type=text], form input[type=mail], form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #EFEAE6;
}
@media screen and (min-width: 768px) {
  form input[type=text], form input[type=mail], form textarea {
    max-width: 334px;
  }
}
form input[type=text]:focus, form input[type=mail]:focus, form textarea:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  form input[type=text][id=zip] {
    max-width: 157px;
  }
}
form input[type=text], form input[type=mail] {
  height: 40px;
  padding: 0 10px;
}
form textarea {
  resize: none;
  height: 170px;
  padding: 10px;
}
form input[type=submit] {
  font-weight: 700;
  border-radius: 10px;
  background: #FED966;
  padding: 13px 94px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  form input[type=submit] {
    max-width: 243px;
  }
}

.form__wrapper {
  border-radius: 20px;
  background: #FFF;
  padding: 37px 20px 43px 20px;
}
@media screen and (min-width: 768px) {
  .form__wrapper {
    padding: 37px 76px 43px 76px;
  }
}
.form__ttl {
  margin-bottom: 41px;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form__ttl {
    font-size: 18px; /*IE9以前に対応する*/
    font-size: 1.125rem;
  }
}
.form__elm {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .form__elm {
    display: flex;
  }
}
.form__elm--container:nth-child(1) {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .form__elm--container:nth-child(1) {
    width: 45%;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .form__elm--container:nth-child(2) {
    width: 50%;
  }
}
.form__elm--label {
  font-weight: 700;
}
.form__elm--child {
  margin-bottom: 10px;
}
.form__elm--child:nth-last-child(1) {
  margin-bottom: 0px;
}
.form__elm.submit {
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}

.required {
  margin-top: -5px;
  margin-left: 18px;
  font-weight: 700;
  border-radius: 10px;
  background: #FED966;
  padding: 5px 11px;
  max-height: 30px;
}

.footer__copyright {
  padding: 21px 0 22px 0;
  background-color: #D9D9D9;
}

.copyright {
  text-align: center;
}

.slider-slide {
  width: 100%;
}
.slider__img {
  height: auto;
  width: 100%;
}/*# sourceMappingURL=style.css.map */